{% extends 'base.html' %}
{% block title %}Changes Password{% endblock title %}

{% block content %}
    <!-- Changes Start -->
    <div class="changes">
        <div class="container-fluid">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6">
                    <div class="changes-form">
                        <form method="POST" novalidate>
                            {% csrf_token %}
                            {% include 'non-field-errors.html' %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Old Password</label>
                                    {{form.old_password}}
                                    {{ form.old_password.errors }}
                                </div>
                        
                                <div class="col-md-6">
                                    <label>New Password</label>
                                    {{form.new_password}}
                                    {{ form.new_password.errors }}
                                </div>
                                <div class="col-md-12">
                                    <label>Confirm Password</label>
                                    {{form.new_password2}}
                                    {{ form.new_password2.errors }}
                                </div>
                                <div class="col-md-12">
                                    <button class="btn form-control">Changes Now</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Changes End -->
        
{% endblock content %}